$color-primary:#00d1b2;
$color-primary-l:#f5fffd;
$color-primary-l-f:#021310;
$color-info:#209cee;
$color-info-l:#f6fbfe;
$color-info-l-f:#12537e;
$color-success:#23d160;
$color-success-l:#f6fef9;
$color-success-l-f:#0e301a;
$color-dark:#363636;
$color-dark-l:#fafafa;
$color-dark-l-f:#2a2a2a;
$color-danger:#ff3860;
$color-danger-l:#fff5f7;
$color-danger-l-f:#cd0930;
$color-warning:hsl(48, 100%, 67%);
$color-progress:#adfff3;
html,body{height:100%!important}
.bg-primary{background-color:$color-primary!important}
.bg-primary-l{background-color:$color-primary-l!important}
.fg-primary-l{color:$color-primary-l-f!important}
.bg-info{background-color:$color-info!important}
.bg-info-l{background-color:$color-info-l!important}
.fg-info-l{color:$color-info-l-f!important}
.bg-success{background-color:$color-success!important}
.bg-success-l{background-color:$color-success-l!important}
.fg-success-l{color:$color-success-l-f!important}
.bg-dark{background-color:$color-dark!important}
.bg-dark-l{background-color:$color-dark-l!important}
.fg-dark-l{color:$color-dark-l-f!important}
.bg-danger{background-color:$color-danger!important}
.bg-danger-l{background-color:$color-danger-l!important}
.fg-danger-l{color:$color-danger-l-f!important}
.h-100{height:100%!important}
.w-100{width:100%!important}
.w-90{width:90%!important}
.w-80{width:80%!important}
.w-75{width:75%!important}
.w-70{width:70%!important}
.w-60{width:60%!important}
.w-50{width:50%!important}
.w-40{width:40%!important}
.w-30{width:30%!important}
.w-25{width:25%!important}
.w-20{width:20%!important}
.w-10{width:10%!important}
.level-1{margin-left:1rem!important}
.level-2{margin-left:2rem!important}
.d-flex{display:flex;flex-direction:column!important}
.justify-content-center{justify-content:center!important}
.justify-content-start{justify-content:start!important}
.align-items-center{align-items:center!important}
.align-items-start{align-items:start!important}
.text-center{text-align:center!important}
.progressbarcustom{margin:auto!important;background-color:$color-progress!important}
.progressbarcustom{margin-top:5px!important;margin-bottom:5px!important}
.indeterminate{background-color:$color-primary!important}
.message{max-width:250px!important;font-size:0.8rem!important}
.message-header{button{margin-right:0.5rem!important}}
.panel{margin:0.5rem!important;min-width:300px!important}
.panel-heading{font-size:0.9rem!important;overflow:hidden!important}
.panel-heading{span{vertical-align:middle!important}}
.panel-block{font-size:0.7rem!important}
.panel-block{i{margin-left:auto!important}}
.panel-block{label{margin-right:0.3rem!important}}
.panel-block{label{i{margin-right:0.4rem;height:11px!important;width:9px!important}}}
.sub-section{border-top:none!important}
.material-container{display:none}
.tag{font-size:0.6rem!important;cursor:pointer!important}
.folder{float:right!important;margin-right:0.5rem!important}
.tags{display:inline;float:right;position:relative;top:-1px}
.download{background-color:$color-warning!important;color:rgba(0, 0, 0, 0.7)!important}
.downloading{background-color:$color-info!important;color:#fff!important}
.downloaded{background-color:$color-primary!important;color:#fff!important}
.download-failed{background-color:$color-danger!important;color:#fff!important}
.tiny{height:16px!important;width:16px!important}
.spinner-primary{border-color:$color-primary!important}
.spinner-white{border-color:#fff!important}